apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - ../../base

patches:
  - target:
      kind: Application
      name: metrics-server
    patch: |-
      - op: replace
        path: /metadata/name
        value: metrics-server-prod
      - op: add
        path: /metadata/labels
        value:
          environment: prod
      - op: replace
        path: /spec/source/helm/values
        value: |
          args:
            - --cert-dir=/tmp
            - --kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname
            - --kubelet-use-node-status-port
            - --metric-resolution=15s
          
          # Production: High resources
          resources:
            requests:
              cpu: 200m
              memory: 400Mi
            limits:
              cpu: 500m
              memory: 800Mi
          
          # Production: 3 replicas for HA
          replicas: 3
          
          podDisruptionBudget:
            maxUnavailable: 1
          
          priorityClassName: system-cluster-critical
      - op: remove
        path: /spec/syncPolicy/automated
