apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - ../../base

patches:
  - target:
      kind: Application
      name: aws-load-balancer-controller
    patch: |-
      - op: replace
        path: /metadata/name
        value: aws-load-balancer-controller-staging
      - op: add
        path: /metadata/labels
        value:
          environment: staging
      - op: replace
        path: /spec/source/helm/values
        value: |
          clusterName: my-eks-staging
          
          serviceAccount:
            create: true
            annotations:
              eks.amazonaws.com/role-arn: arn:aws:iam::372836560690:role/my-eks-staging-aws-load-balancer-controller
          
          region: ap-southeast-1
          vpcId: vpc-STAGING_VPC_ID  # Update with staging VPC
          
          # Staging: Medium resources
          resources:
            limits:
              cpu: 200m
              memory: 400Mi
            requests:
              cpu: 100m
              memory: 200Mi
          
          # Staging: 2 replicas for HA
          replicaCount: 2
          
          podDisruptionBudget:
            maxUnavailable: 1
          
          logLevel: info
