apiVersion: apps/v1
kind: Deployment
metadata:
  name: aws-load-balancer-controller
  namespace: kube-system
spec:
  replicas: 2
  template:
    spec:
      containers:
      - name: controller
        args:
        - --cluster-name=my-eks-dev
        - --ingress-class=alb
        - --aws-region=ap-southeast-1
        - --aws-vpc-id=vpc-0e6ca42c7851c46c4
        resources:
          limits:
            cpu: 200m
            memory: 500Mi
          requests:
            cpu: 100m
            memory: 200Mi
