apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kube-system

resources:
  - ../../base

# Dev-specific patches
patchesStrategicMerge:
  - serviceaccount-patch.yaml
  - deployment-patch.yaml

# Add common labels
commonLabels:
  environment: dev
