apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

# Dev-specific patches
patches:
  - path: application-patch.yaml
    target:
      kind: Application
      name: aws-load-balancer-controller
  - path: serviceaccount-patch.yaml
    target:
      kind: ServiceAccount
      name: aws-load-balancer-controller

# Add environment label
labels:
  - pairs:
      environment: dev
