apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Common labels for all resources
commonLabels:
  app.kubernetes.io/name: flowise
  app.kubernetes.io/part-of: flowise

# Resources to include
resources:
  - deployment-server.yaml
  - deployment-ui.yaml
  - service-server.yaml
  - service-ui.yaml
  - pvc.yaml
  - servicemonitor.yaml

# Note: images will be overridden in overlays
# Do NOT define images here to avoid conflicts
