apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization


namespace: flowise-production

commonLabels:
  environment: production

resources:
- ingress.yaml
- ../../base

patchesStrategicMerge:
- deployment-patch.yaml

images:
- name: flowise-server
  newName: 372836560690.dkr.ecr.ap-southeast-1.amazonaws.com/flowise-server
  newTag: 5ecc647
- name: flowise-ui
  newName: 372836560690.dkr.ecr.ap-southeast-1.amazonaws.com/flowise-ui
  newTag: 5ecc647

configMapGenerator:
- literals:
  - ENVIRONMENT=production
  - LOG_LEVEL=warn
  - DEBUG=false
  name: flowise-env

# ⚠️ Use AWS Secrets Manager or Sealed Secrets in production
# Do NOT store production secrets in Git
secretGenerator:
- literals:
  - database-host=flowise-prod-db.xxxxx.ap-southeast-1.rds.amazonaws.com
  - database-user=flowise_prod
  - database-password=USE-AWS-SECRETS-MANAGER
  name: flowise-secrets
