apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - ../../base

patches:
  - target:
      kind: Application
      name: aws-load-balancer-controller
    patch: |-
      - op: replace
        path: /metadata/name
        value: aws-load-balancer-controller-prod
      - op: add
        path: /metadata/labels
        value:
          environment: prod
      - op: replace
        path: /spec/source/helm/values
        value: |
          clusterName: my-eks-prod
          
          serviceAccount:
            create: true
            annotations:
              eks.amazonaws.com/role-arn: arn:aws:iam::372836560690:role/my-eks-prod-aws-load-balancer-controller
          
          region: ap-southeast-1
          vpcId: vpc-PROD_VPC_ID  # Update with prod VPC
          
          # Production: High resources
          resources:
            limits:
              cpu: 500m
              memory: 1Gi
            requests:
              cpu: 200m
              memory: 500Mi
          
          # Production: 3 replicas for HA
          replicaCount: 3
          
          podDisruptionBudget:
            maxUnavailable: 1
          
          # Spread across availability zones
          affinity:
            podAntiAffinity:
              preferredDuringSchedulingIgnoredDuringExecution:
                - weight: 100
                  podAffinityTerm:
                    labelSelector:
                      matchLabels:
                        app.kubernetes.io/name: aws-load-balancer-controller
                    topologyKey: topology.kubernetes.io/zone
          
          logLevel: info
      - op: remove
        path: /spec/syncPolicy/automated
