apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - ../../base

patches:
  - target:
      kind: Application
      name: metrics-server
    patch: |-
      - op: replace
        path: /metadata/name
        value: metrics-server-dev
      - op: add
        path: /metadata/labels
        value:
          environment: dev
      - op: replace
        path: /spec/source/helm/values
        value: |
          args:
            - --cert-dir=/tmp
            - --kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname
            - --kubelet-use-node-status-port
            - --metric-resolution=15s
          
          # Dev: Lower resources
          resources:
            requests:
              cpu: 50m
              memory: 100Mi
            limits:
              cpu: 100m
              memory: 200Mi
          
          # Dev: Single replica
          replicas: 1
          
          priorityClassName: system-cluster-critical
