apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: aws-load-balancer-controller
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  
  source:
    repoURL: https://aws.github.io/eks-charts
    chart: aws-load-balancer-controller
    targetRevision: 1.8.2
    helm:
      releaseName: aws-load-balancer-controller
      values: |
        # Base configuration - will be overridden by overlays
        clusterName: REPLACE_CLUSTER_NAME
        
        serviceAccount:
          create: true
          annotations:
            eks.amazonaws.com/role-arn: REPLACE_ROLE_ARN
        
        region: ap-southeast-1
        vpcId: REPLACE_VPC_ID
        
        resources:
          limits:
            cpu: REPLACE_CPU_LIMIT
            memory: REPLACE_MEMORY_LIMIT
          requests:
            cpu: REPLACE_CPU_REQUEST
            memory: REPLACE_MEMORY_REQUEST
        
        replicaCount: REPLACE_REPLICA_COUNT
        
        logLevel: info
  
  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
  
  ignoreDifferences:
    - group: admissionregistration.k8s.io
      kind: MutatingWebhookConfiguration
      jsonPointers:
        - /webhooks/0/clientConfig/caBundle
    - group: admissionregistration.k8s.io
      kind: ValidatingWebhookConfiguration
      jsonPointers:
        - /webhooks/0/clientConfig/caBundle
