apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kube-system

# Use Helm chart instead of raw manifests
helmCharts:
  - name: aws-load-balancer-controller
    repo: https://aws.github.io/eks-charts
    version: 1.8.1
    releaseName: aws-load-balancer-controller
    namespace: kube-system
    valuesInline:
      clusterName: my-eks-dev
      region: ap-southeast-1
      vpcId: vpc-0e6ca42c7851c46c4
      serviceAccount:
        create: false
        name: aws-load-balancer-controller

resources:
  - namespace.yaml
  - serviceaccount.yaml

commonLabels:
  app.kubernetes.io/managed-by: kustomize
  app.kubernetes.io/part-of: aws-load-balancer-controller
