apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - application.yaml

# Common labels for all resources
labels:
  - pairs:
      app.kubernetes.io/name: aws-load-balancer-controller
      app.kubernetes.io/managed-by: argocd
